* {
  margin: 0;
}
.background-img {
  background-image: url(../img/peter-thomas-LiSO0mKdIJs-unsplash.jpg);
  background-size: cover;
}
.img-fluid {
  display: block;
  margin: 0 auto;
}
header:hover {
  background-color: rgba(0, 0, 0, 0.32);
}
.list {
  width: 22em;
}
.card-panel {
  background-color: #bcd0db;
}
.btn {
  font-size: 17px;
}
.card.small {
  height: auto;
  text-align: justify;
  padding: 0.3em 0 0.6em 0.5em;
}
.card-input {
  outline: none;
}
input[type='text']:not(.browser-default) {
  border: none;
}
.cancel-icon {
  display: inline-block;
  position: fixed;
  margin-left: 1em;
  cursor: pointer;
}
#addCard {
  display: none;
}
.card-content {
  background-color: #f4f5f9;
}
.header {
  font-weight: bolder;
}
.cards {
  display: flex;
  justify-content: space-between;
}
i.tiny {
  font-size: 1.7rem;
  cursor: pointer;
}
.modalBox {
  display: flex;
  justify-content: space-between;
  background-color: #f4f5f7;
}
.modal .modal-footer {
  width: auto;
}
#checklist {
  margin-bottom: 1em;
}
.checlist-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}
.head {
  margin-left: 0.6em;
  font-size: 1.5em;
}
.checklist-icon {
  align-self: center;
}
#newChecklist {
  width: 7em;
}
#addChecklist {
  display: none;
}
.modal .modal-content {
  width: 65em;
}
.checkListName {
  display: flex;
  margin-bottom: 1em;
}
.oneChecklist {
  margin: 1em 0 2em 0;
  background-color: #ebecf0;
}
.addchecklistItems {
  display: none;
}
.del {
  align-self: center;
}
.box {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  margin: 0 0 0.8em 0.7em;
}
